.btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    transition: .2s ease-out;
    &:active {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    &.btn-inverse {
        font-size: 1.2rem;
        font-weight: 700;   
        color: $primary;

        border-radius: 2.5rem;
        border: 0.1rem solid $primary;
        background-color: transparent;
        padding: 1.6rem 2.5rem;  
        &:hover {       
            background-color: $primary;
            color: $white;
        }
    }
    &.btn-inverse-2 {
        text-align: center;
        font-size: 1.4rem;
        color: $white;

        border-radius: 2.5rem;
        border: 0.1rem solid #fff;
        background-color: transparent;
        padding: 1.6rem 1.8rem;
        display: block;
        &:hover {       
            background-color: $white;
            color: $black;
        }
        &:active {
            filter: opacity(.9);
        }
    }
    &.btn-with-case {
        color: $primary;
        border: 0.1rem solid $primary;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 3.5rem;
        
        padding: 2rem 2.3rem 2rem 2.3rem;
        @include sm(padding, 2.5rem 3.7rem 2.5rem 5rem);
        transition: .2s;
        @include sm-block() {
            &:after {
                display: inline-block;
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f0b1";
                margin-left: 2rem;
            }
            &:hover {
                padding: 2.5rem 2.3rem 2.5rem 6.6rem;
                &:after {
                    transition: .2s;
                    transform: translateX(30px);
                    opacity: 0;
                }
            }
        }
        
    }
    &.btn-primary {
        padding: 1.5rem 4.7rem 1.5rem 2.4rem;

        background-color: $primary;
        border-radius: 2.4rem;
        color: $white;
        font-size: 1.3rem;
        font-weight: 700;
        position: relative;

        vertical-align: sub;
        &:after {
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f061";
            position: absolute;
            top: 50%;
            transform: translate(0,-40%);
            transition: .3s ease-out;
            right: 2.5rem;
        }
        &:hover {
            padding: 1.5rem 3.6rem 1.5rem 3.5rem;
            &:after {
                right: -1rem;
                opacity: 0;
            }
        }
    }
    &.btn-sm {
        font-size: 1.2rem;
        padding: 1rem 2.9rem 1rem 1.4rem;
        border-radius: 2.2rem;
        &:after {
            font-size: 1rem;
            right: 1.4rem;
            transform: translate(0,-50%);
        }
        &:hover {
            padding: 1rem 2.2rem 1rem 2.1rem;
        }
    }
    &.btn-lg {
        padding: 2.5rem 5rem 2.5rem 3rem;
        @include xl(padding, 2.5rem 8.7rem 2.5rem 5rem);
        border-radius: 3.5rem;
        font-size: 1.6rem;
        @include md(font-size, 1.7rem);
        &:after {
            right: 2.5rem;
            @include xl(right, 5rem);
            transform: translate(0,-50%);
        }
        &:hover {
            padding: 2.5rem 4rem 2.5rem 4rem;;
            @include lg(padding, 2.5rem 7.35rem 2.5rem 6.35rem);
        }
    }
    &.btn-shadow {
        transition: .3s;
        box-shadow: 0 1.1rem 2.4rem rgba(0, 202, 255, 0.6);
        &:hover {
            box-shadow: 1px 5px 15px 0px rgba(0, 202, 255, 0.6);
            filter: saturate(140%);
        }
        &:active {
            box-shadow: 1px 3px 5px 0px rgba(0, 202, 255, 0.6);
        }
    }
    &.btn-viber,
    &.btn-whatsapp,
    &.btn-telegram {
        padding: 1.4rem 2.3rem;
        margin: 1rem 0;
        border-radius: 2.3rem;
        min-width: 18rem;
        font-size: 1.2rem;
        color: $white;
        &:before {
            margin-right: 1.4rem;
            font-family: "Font Awesome 5 Brands"; 
            font-size: 1.8rem;
            vertical-align: sub;
        }
        &:hover {
            filter: saturate(150%);
        }
    }
    &.btn-viber {
        background-color: #665cac;
        &:before {           
            content: "\f409";
        }
    }
    &.btn-whatsapp {
        background-color: #25d366;
        &:before {
            content: "\f232";
        }
    }
    &.btn-telegram {
        background-color: #0088cc;
        &:before {
            content: "\f3fe";
        }
    }
    &.i-gift {
        padding: 2.5rem 2rem 2.5rem 2rem;
        @include sm(padding, 2.5rem 5rem 2.5rem 2rem);
        @include xl(padding, 2.5rem 8.7rem 2.5rem 5rem);
        &:after {
            content: "";
        }
        @include sm-block() {
            &:after {
                content: "\f06b";
            }
        }
    }
    &.i-msg {
        padding: 2.5rem 5rem 2.5rem 2rem;
        @include xl(padding, 2.5rem 8.7rem 2.5rem 5rem);
        &:after {
            content: "\f086";
        }
    }
}

.social-toggle {
    width: 2.1rem;
    height: 2.1rem;
    margin-left: 1rem;
    border-radius: 50%;
    background-color: #b3bfc8;
    opacity: 0.5;
    transition: .3s; 
    position: relative;

    z-index: 20;
    i {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        color: $white;
        animation: rotateOut .3s;
    }
    &:hover {
        opacity: 1;
        cursor: pointer;
        i {
            transform: translate(55%, -55%) rotate(180deg);
            animation: rotateIn .3s;
        }
    }
    @keyframes rotateIn {
        0% {
            transform: translate(50%, -50%) rotate(0);
        }
        100% {
            transform: translate(55%, -55%) rotate(180deg);
        }
    }
    @keyframes rotateOut {
        0% {
            transform: translate(55%, -55%) rotate(180deg);
        }
        100% {
            transform: translate(50%, -50%) rotate(0);          
        }
    }
}

.mobile-menu-toggle {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    display: block;  
    @include lg-block() {
        display: none; 
    }
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#000;
        stroke-width:5.5;
        stroke-linecap:round;
    } 
    .top {
        stroke-dasharray: 40 172;
    }
    .middle {
        stroke-dasharray: 40 111;
    }
    .bottom {
        stroke-dasharray: 40 172;
    }
    &.active .top {
        stroke-dashoffset: -132px;
    }
    &.active .middle {
        stroke-dashoffset: -71px;
    }
    &.active .bottom {
        stroke-dashoffset: -132px;
    }
}
