.langs {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(0, -50%);

    
    .lang {
        position: relative;
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $second;
        
        height: 22px;
        opacity: .5;
        transition: .2s;
        &:before {
            display: inline-block;
            margin-right: .9rem;
            vertical-align: middle;
            width: 2.6rem;
        }
        &.active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
    }
    .en:before {
        content: url('../img/langs/en.svg');
    }
    .ru::before {
        content: url('../img/langs/ru.svg');
    }
}