.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}
  
.popup {
    margin: 5% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
    z-index: 10;
    .head {
        text-align: center;
        .logo-img {
            max-width: 255px;
        }
        padding-bottom: 1rem;
        border-bottom: 1px solid #ebebeb;
    }
    
    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        }
    .close:hover {
        color: #06D85F;
        cursor: pointer;
    }
    .content {
        padding-bottom: 2rem;
        .title {
            padding: 3rem 0 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #ebebeb;
            display: inline-block;
            .h {
                font-size: 14px;
                @include sm(font-size, 24px);
                
                font-weight: 900;
                text-transform: uppercase;
            }
            .sub-h {
                color: #838d99;
                font-size: 1.3rem;
            }
        }
        .input-wrapper {
            @media (min-width: 380px) {
                width: 30rem;
            } 
        }
        max-height: 30%;
        text-align: center;
    }
}
  
@media screen and (max-width: 980px){
    .box{
        width: 70%;
    }
    .popup{
        width: 80%;
    }
}