#stock {
    margin-top: 8.5rem;
    margin-bottom: 0;
    @include lg-block() {
        margin-top: -19rem;
        //margin-top: -14rem;
        margin-bottom: -5rem;
    };
    .h2 {
        top: -6rem;
        color: #f0f0f0;
    }
}
.section {
    position: relative;
    z-index: 1;
    padding-top: 4.4rem;
    padding-bottom: 5rem;
}

.banner-container {
    .banner {
        position: relative;
        background: linear-gradient(90deg, #038afe, #245ad4);
        box-sizing: border-box;
        width: 100%;
        border: 5px solid $primary;
        border-radius: 20px;

        @include row-flex();
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);

        .col-left {
            @include col();
            @include size-sm(12);
            @include size-md(0);
            @include size-lg(7);

            display: none;
            @include sm(display, block);

            margin-left: 0;
            img, picture {
                border-radius: 20px 0 0 20px;
            }
        }
        .col-right {
            @include col();
            @include size-sm(12);
            @include size-md(8);
            @include size-lg(5);

            margin: 20px auto;
            padding: 20px;
        }   
        .banner-header {
            color: $white;
            font-weight: 900;
        
            font-size: 2.6rem;
            @include sm-block {
                font-size: 3.6rem;
                line-height: 4.6rem;
            }
        }
        .banner-text {
            color: #a3c4fe;
            margin: 2.6rem 0;
            line-height: 2.4rem;
        }
        .bage {
            position: absolute;
            top: 0rem;
            right: -0rem;
            @include sm-block() {
                top: -3rem;
                right: -3.5rem;
            }      
            @media (max-width: 359px) {
                display: none;
            }     
        }
    }
}
.warning-text {
    color: #ff0d15;
    font-weight: 900;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;

    @include sm-block() {
        text-align: left;
        font-size: 2.4rem;
        line-height: 2rem;
        margin: 1.3rem 0;
    }
}

.img-wrapper {
    img {
        width: 100%;
        height: 100%;
    }
}

// Services
.service-container{
    @include row-flex();
    justify-content: center;
    @include lg(justify-content, space-between);
    margin-bottom: 10rem;

    .service-card {
        @include col();
        @include size-md(12);
        @include size-lg(6);

        width: 100%;
        max-width: 53rem;
        min-height: 22rem;
        box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
        background-color: $white;

        margin-bottom: 4.5rem;
        transition: .3s;
        &:hover {
            box-shadow: 0px 1.5rem 2rem rgba(0, 0, 0, 0.1);
            transform: translateY(-.5rem);
            .col-left img {
                transform: scale(1.1);
            }
        }

        .row {
            @include row-flex();
            flex-wrap: wrap;
            //align-items: center;

            padding: 2.5rem 0 1.5rem 0;

            .col-left {
                @include col();
                @include size-xs(12);
                @include size-sm(5);

                display: flex;
                align-items: center;
                justify-content: center;   
                
                width: 100%;
                overflow: hidden;

                img {
                    width: 15rem;
                    height: 15rem;
                    transition: .5s cubic-bezier(0.42, 0, 0.14, 2.29);
                    object-fit: contain;
                    margin: 10px 0;
                }
            }
            .col-right {
                @include col();
                @include size-xs(12);
                @include size-sm(7);

                display: flex;
                flex-direction: column;
                align-items: center;
                @include md(align-items, flex-start);

                width: 100%;

                .head-text {
                    color: $primary;
                    font-size: 1.8rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
                .btn {
                    margin: 1.6rem 0;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.links {
    //margin: 1rem 0;
    li {
        margin: .5rem 0;
    }
    a {
        font-size: 1.3rem;
        color: $black;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }
}
.technologys-container .h3 {
    margin-bottom: 2rem;
}
.technologys {
    margin: 5rem 0;
}

// Cases
#cases {
    padding-bottom: 13rem;
}

.cases-container {
    @include row-flex();
    justify-content: center;
    @include lg(justify-content, space-between);

    .case-card {
        @include col();
        @include size(12);
        @include size-md(6);
        @include size-lg(4);

        max-width: 340px;
        width: 100%;
        min-height: 333px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        background-color: $white;
        margin-bottom: 4.5rem;
        transition: .5s;
        .image-wrapper {
            height: 220px;
            overflow: hidden;
            img {
                transition: 2s cubic-bezier(0.65, 0.05, 0.36, 1);
                height: 100%;
                object-fit: cover;
            }
        }

        .text-wrapper {
            padding: 0 2rem;
            .title {
                font-size: 1.3rem;
                font-weight: 700;
                margin: 1rem 0 1.5rem;
            }
            .hr {
                width: 100%;
                height: 1px;
                background-color: #ebebeb;
                margin: 1rem 0 1.5rem;
            }
            .gray-text {
                display: block;
                color: $gray-text;
                font-size: 1.2rem;
            }
            .pair {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .link {
                color: $primary;
                font-size: 1.2rem;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &:active {
                    filter: saturate(120%);
                    text-decoration: none;
                }
            }
            .btn {
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
            
        }
        &:hover {
            transform: translateY(-.5rem);
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
            img {
                transform: scale(1.1);
            }
        }
    }
}
#reviews { 
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;

    padding-bottom: 11rem;
}
.link {
    color: $primary;
    &:hover {
        text-decoration: none;
    }
    &:active {
        filter: brightness(90%);
    }
}
.rewiews {
    min-height: 46.2rem;
    background-color: #3b5977;
    color: $white;
    margin: 59px 0;

    @include row-flex();

    @include md-block() {
        margin-left: -50px;
        margin-right: -50px;
    }
    .rewiew {
        @include col();
        @include size-md(12);
        @include size-lg(5);
        @include size-xl(7);

        
        @include md(padding, 4.5rem);
        padding: 4.5rem 0;
        
        .pair {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #7c9dbe;
            .title {
                font-size: 1.6rem;
                font-weight: 700;
            }
            .navigation {
                display: flex;
                align-items: center;
                .pair-2 {
                    display: flex;
                    flex-direction: column;
                }
                .arrow-right,
                .arrow-left {
                    padding: 0 1.5rem;
                    &:before {
                        display: inline-block;
                        content: url('../img/reviews/arrow.png')
                    }
                    &:hover {
                        cursor: pointer;
                        &:before {
                            filter: brightness(130%);
                        }
                    }
                }
                .arrow-right{
                    padding: 0 1rem;
                    &:before {
                        content: url('../img/reviews/arrow-right.png');

                    }
                }
                .digits {
                    display: flex;
                    justify-content: space-around;
                    align-items: baseline;
                    font-size: 1.6rem;
                    color: #7c9dbe;
                    .digit {
                        font-size: 3.6rem;
                        color: $white;
                    }
                }
                .text {
                    display: block;
                    color: #7c9dbe;
                    font-size: 1.3rem;
                    margin-top: -3px;
                }
            }
        }
        .paragraph {
            display: grid;
            grid-template-columns: 1fr 6fr;
        }
    }
    #slider {
        @include col();
        @include size-md(0);
        @include size-lg(7);
        @include size-xl(5);

        display: none;
        @include lg(display, block);
    }
}
#slider {
    img {
        cursor: pointer; /* not needed if you wrap carousel items in links */
        width: 35.9rem;
        height: 51.3rem;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
    }
}

.videos {
    @include row-flex();

    margin: 90px auto 170px;
    .video-card {
        @include col();
        @include size(12);
        @include size-md(6);
        .youtube {
            max-height: 30.4rem;
        }
        .text {
            background-color: $white;
            padding: 2rem 3rem 3rem;
            .title {
                font-size: 1.6rem;
                font-weight: 700;
                &:after {
                    content: '';
                    display: block;
                    width: 7.6rem;
                    height: 2px;
                    background-color: #7c9dbe;
                    margin: .5rem 0 .8rem;
                }
            }
            .pair {
                display: flex;
                justify-content: space-between;
                .gray-text {
                    color: $gray-text;
                    font-size: 1.3rem;
                }
            }
        }
        margin-bottom: 3rem;
    }
}

.brands-grid {
    display: grid;

    grid-template-columns: 1fr 1fr repeat(3, 2fr) 1fr 1fr;

    margin: 2rem 0;
    grid-gap: 1rem;
    .brand {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 11vmin;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
        background-color: #fff;
        img {
            max-height: 10rem;
            max-width: 90%;
        }
    }
    .brand-1,
    .brand-5 {
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
    }
    .brand-1,
    .brand-16,
    .brand-21,
    .brand-26 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .brand-5,
    .brand-20,
    .brand-25,
    .brand-30 {
        grid-column-start: 6;
        grid-column-end: 8;
    }
}

// About
#about-company {
    color: $white;
    padding: 12.5rem 0;
    background-color: #395874;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .pair {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
        @include lg(justify-content, space-between);
        align-items: center;
    }
    .big-text {
        font-size: 2.8rem;
        font-weight: 900;
        text-transform: uppercase;
        margin: 1rem 0;
        text-align: center;
        @include lg(text-align, left);
    }
    .h3 {
        text-transform: uppercase;
        margin-bottom: 3.5rem;
    }
    .primary-text {
        margin: 1.8rem 0;
        font-size: 1.4rem;
        font-weight: 700;
        padding: .7rem 1rem;
        color: $primary;

        border-left: .9rem solid $primary;
    }
    .main-features {
        border-top: 2px solid #7c9dbe;
        border-bottom: 2px solid #7c9dbe;
        padding: 1rem 0 2rem;
        margin: 3rem 0;
        justify-content: space-between;
        .digit {
            color: $primary;
        }
        .text {
            color: $white;
        }
        .main-feature {
            margin: 0;
            text-align: center;
            @include md(text-align, left);
        }
    }
}

// Contacts
#contacts {
    .h2 {
        @include lg(top, -1rem);
    }
    padding-bottom: 10rem;
}
.contacts-card {
    box-sizing: border-box;
    border: 5px solid $primary;
    border-radius: 20px;
    background: $white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    min-height: 594px;

    @include row-flex();
    margin: 0;
    margin-top: 10rem;
    justify-content: space-between;
    .col-left,
    .col-right {
        @include col();
        @include size(12);
        @include size-lg(6);
    }
    .col-left {
        padding: 4rem 3rem;
        .title {
            color: $primary;
            font-size: 2.2rem;
            font-weight: 700;
        }
        .hr {
            width: 100%;
            height: 1px;
            background-color: #f5f8fe;
            margin: 1.4rem 0;
        }
        .subtitile {
            margin: 1rem 0;
            line-height: 1.5;
        
        }
        .icon-map,
        .icon-phone {
            &:before {  
                margin-right: 2rem;
                font-family: "Font Awesome 5 Free"; 
                font-weight: 700;
                display: inline-block;
                width: 20px;
                text-align: center;
            }
        }
        .icon-map:before {
            content: "\f3c5";
        }
        .icon-phone:before {
            content: "\f095";
        }
        .margin {
            margin: 1rem 4rem 2rem;
        }
        .phone-link {
            display: block;
            font-size: 1.6rem;
            text-decoration: none;
        }
        .btn-lg {
            display: block;
            text-align: center;
            margin: 2.7rem 0;
            @include xl(max-width, 278px);
        }
    }
    .col-right {
        margin: 0;
        @media (max-width: 991px) {
            width: 100%;
        }
    }
    .social-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include xl(justify-content, flex-start);
        .btn {
            min-width: auto;
            width: 8.5rem;
            margin-top: .7rem;
            margin-right: .8rem;

            transition: .3s ease-out;
            &:before {
                margin-right: .5rem;
            }
            &:hover {
                filter: saturate(190%);
            }
            &:active {
                filter: brightness(95%);
            }
        }
    }
}