.site-creating-page {
    header {
        @include lg-block(){
            .hero-right {
                display: none;
            }
            background-image: url('../img/creating/main-bg.png');
        }         
    }    
}
.context-ad-page,
.site-creating-page,
.youtube-page,
.design-page {
    .h1 {
        @include md-block() {
            font-size: 3.8rem;
        }
    }
    ol.style-1 {
        margin-bottom: 5rem;
        li {    
                margin-bottom: 3rem;
        }
    }
    hero {
        padding-top: 5rem;
        @include lg-block(){
            padding-top: 9rem;
        }
        &-right {
            display: block;
            @include lg-block() {
                display: none;
            }
            img{    
                @include sm(max-width, 100%);
                object-fit: contain;
                max-width: 80%;
            }
        }
    }
}

.site-creating-page {
    ol.style-1 {
        li {    
            @media (max-width: 500px) {
                margin-bottom: 0;
            }
        }
    }
}
