.team-page {
    #about-company {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        background-color: $white;
        color: $black;
        padding: 5rem 2rem;
        @include lg(padding, 5rem 5rem);
        @include xl(padding, 9rem 8.5rem);
        .main-features {
            width: 100%;
            .text {
                color: $black;
            }
        }
        .pair {
            width: 100%;
            flex-direction: column;
            @include lg(flex-direction, row);
            .primary {
                display: block;
                @include md(display, inline-block);
            }
            .btn {
                @media (max-width: 350px) {
                    font-size: 1.3rem;
                }
            }
        }
        .big-text {
            font-size: 1.8rem;
            @include md(font-size, 2rem);
            @include lg(font-size, 2.4rem);
            @include xl(font-size, 2.6rem);
        }
    }

}