html {
	font-size: 62.5%;	
	scroll-behavior: smooth;
  }

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	color: $black;
	overflow-x: hidden;
	&::selection {
		//color: #ff0; /* Цвет текста */
		background: #000; /* Цвет фона */
	}
}

ul {
	list-style-type: none;
}

p {
	line-height: 1.5;
}
.container {
	@include container();
	@include sm(max-width, 510px);
	@include md(max-width, 690px);
	@include lg(max-width, 930px);
	@include xl(max-width, 1110px);
}

.container-full {
	@include container-full();
}

.logo {
	width: 25.6rem;
	max-height: 5.2rem;
	text-decoration: none;
	transition: .3s;
	svg &-img {
		&:hover {
			cursor: pointer;
		}
	}
	svg#logo-img {
		cursor: pointer!important;
	}
	&-text {
		font-size: 1rem;
		letter-spacing: 0.035rem;
		display: block;
		color: #838d99;
	}
	&:hover {
		filter: saturate(2.6);
	}
	@media (max-width: 370px) {
		width: 20rem;
		&-text {
			display: none;
		}
	}
}

.h1,
h1 {
	font-size: 2rem;
	color: $black;
	font-weight: 900;
	text-transform: uppercase;

	@include xs-block() {
		font-size: 2.2rem;
	}
	@include sm-block() {
		font-size: 3.2rem;
	}
	@include md-block() {
		font-size: 4.2rem;
		
	}
}

h2 {
	@include sm(font-size, 2.4rem);
	font-size: 1.9rem;
	font-weight: 700;
}
.h2 {
	position: absolute;
	top: 4rem;
	@include sm(top, 5rem);
	left: 50%;
	transform: translate(-50%,0);
	color: #f5f8fe;
	//font-size: 7rem;
	font-size: 5rem;
	// @include sm(font-size, 11vmax);
	// @include md(font-size, 10vmax);
	@include sm(font-size, 10vmax);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	z-index: -1;
}
.gray .h2 {
	color: $white;
}

.h2-primary {
	padding-top: 2.8rem;
	@include md(padding-top, 7.8rem);
    margin-bottom: 2.5rem;

    text-transform: uppercase;
    font-size: 1.9rem;
    @include sm(font-size, 2.4rem);
    font-weight: 900;
    text-align: center;
    &:after {
        content: url('../img/icons/h2-dots.svg');
        display: block;
    }
}

.h3,
h3 {
	@include sm(font-size, 2.2rem);
	font-size: 1.8rem;
	font-weight: 700;
}
.h3-style-2 {
	display: flex;
	align-items: center;
	&:after {
		content: "";
		margin-left: 2rem;;
		display: flex;
		flex: 1 1 100px;
		height: 0.4rem;
		background-color: $primary;
	}
}
h4,.h4 {
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

a {
	color: $primary;
}

.row {
	@include row-flex();
}

#map {
	width: 100%;
	height: 100%; 
	padding: 0;
	margin: 0;
	min-height: 400px;
	background: transparent url('../img/main-page/map.webp') center / cover no-repeat;
}
ymaps,#map {
	border-radius: 0 0 11px 11px;
	@include lg(border-radius, 0 11px 11px 0);   
}

.youtube {
	background-color: #000;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
	&:hover {
		.play-button {
			transform: scale(1.1) translate( -45%, -45% );
			filter: saturate(150%);
			opacity: 1;
		}
		
	}
}
.youtube img {
	width: 100%;
	top: -16.82%;
	left: 0;
	opacity: 0.7;
}
.youtube .play-button {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	background-color: $primary;
	box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
	z-index: 1;
	opacity: 0.9;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .2s ease-out;
	&:hover {
		transform: scale(1.1) translate( -45%, -45% );
	}
}
.youtube .play-button:before {
	opacity: 1;
	content: url("../img/icons/triangle.svg");
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
.youtube .play-button:before {
	transform: translate(-40%, -40%);
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.yandex{
	display: inline-block;
	&:first-letter {
		color: #f41b0a;
	}
}

.google {
	white-space: nowrap;
	.char1,
	.char4{
		color: #0086f8;
	}
	.char2,
	.char6 {
		color: #f41b0a;
	}
	.char3 {
		color: #ffbe00;
	}
	.char5 {
		color: #00aa4c;
	}

	.char2,
	.char3,
	.char4,
	.char5,
	.char6 {
		margin-left: -.3rem;
	}
}

ul.flags {
	display: flex;
	flex-wrap: wrap;
	li {
		flex: 1 1 50%;
		margin-bottom: 1.5rem;
		font-size: 1.3rem;
		color: #838F9C;

		display: flex;
		align-items: center;
		&:before {
			display: inline-block;
			margin-right: 1.5rem;
			width: 2rem;
			height: 2rem;
			content: '';
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		&.by:before {
			background-image: url('../img/flags/Belarus.png');
		}
		&.en:before {
			background-image: url('../img/flags/England.png');
		}
		&.ru:before {
			background-image: url('../img/flags/Russia.png');
		}
		&.cz:before {
			background-image: url('../img/flags/Czechia.png');
		}
		&.kz:before {
			background-image: url('../img/flags/Kazakhstan.png');
		}
	}
}

.viber-mobile {
	@media (min-width: $md) {
		display: none!important;
	}
}
.viber-desktop {
	@media (max-width: $md) {
		display: none!important;
	}
}

ol.style-1{
	list-style: none;
	counter-reset: count; 
	margin: 0;
	padding: 0;

	li{
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 3rem;

		.block {
			position: relative;
			font-size: 1.3rem;
			color: $gray-text;
			text-align: left;
			margin-left: 2rem;
			
		}
		.title {
			font-size: 1.6rem;
			font-weight: 700;
			display: block;
			margin-bottom: 1rem;
			color: $black;
			position: relative;
			
		}
		&:first-child:before{
			animation-delay: 0s;
		}
		&:nth-child(2):before{
			animation-delay: .5s;
		}
		&:nth-child(3):before{
			animation-delay: 1s;
		}
		&:nth-child(4):before{
			animation-delay: 1.5s;
		}
		&:nth-child(5):before{
			animation-delay: 2s;
		}
		&:before {
			content: url('../img/seo-page/arrow-logo.svg');
			display: inline-block;
			animation: blink 6s infinite;
			transform: scale(1.1);
		}
	}
	@keyframes blink {
		0%{
			filter: brightness(1);
			transform: scale(1.1);
		}
		40% {
			filter: brightness(1.6);
			transform: scale(1.3);
		}
		70% {
			filter: brightness(1);
			transform: scale(1.1);
		}
	}
}
.input-wrapper {
	display: inline-block;
	position: relative;
	margin: 1rem 0;

	input,
	textarea {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		max-width: 100%;
		padding: 1.8rem;
		resize: vertical;  
		min-height: 6rem;
		max-height: 50rem;
		
		border-radius: 2.6rem;
		background-color: #f0f2f7;
		border: 0.1rem solid #e3e8f0;
		&:hover {
			box-shadow: 0 0 .6rem rgba(0, 202, 255, 0.6);
		}
		&:focus {
			outline: none;
			border-color: $primary; 
			box-shadow: 0 0 .6rem rgba(0, 202, 255, 0.6);
		}
	}
	
	
	&.icon {
		input {
			padding-left: 4rem;
		}
		&:before {
			font-family: "Font Awesome 5 Free"; 
			font-weight: 900; 
			content: "\f061";
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 2rem;
		}
	}
	&.i-user:before {
		content: "\f007";
	}
	&.i-mail:before {
		content: "\f0e0";
	}
	&.i-phone:before {
		content: "\f095";
	}
}

.sl-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .9;
    display: none;
    z-index: 1035;
}
.sl-wrapper .sl-image img {
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}